<ion-view title="Order" id="page10">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/Starbucks_logo_2.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h1 id="order-heading3" style="color:#000000;font-weight:300;text-align:center;">Order</h1>
    <ion-list id="order-list4">
      <ion-item class="item-thumbnail-left" id="order-list-item17">
        <img src="img/150818-pumpkin-spice-starbucks_519fa3f07a5db156f84e5f8a1b22bda9.nbcnews-fp-1200-800.jpg">
        <h2>Starbucks Latte x2</h2>
        <p style="white-space:normal;">The best coffee in the world</p>
        <ion-option-button class="button-assertive">Remove</ion-option-button>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="order-list-item18">
        <img src="img/recipe-lab-kale-caesar-superJumbo.jpg">
        <h2>Caesar salad</h2>
        <p style="white-space:normal;">Pretty nice salad</p>
        <ion-option-button class="button-assertive">Remove</ion-option-button>
      </ion-item>
    </ion-list>
    <form id="order-form6" class="list">
      <div id="order-markdown1" style="text-align:center;" class="show-list-numbers-and-dots">
        <p style="color:#222222;font-size:12px;">When do you want your order to be ready?</p>
      </div>
      <ion-item class="range range-positive" id="order-range2">
        <input type="range" value="10" min="0" max="120" step="5">
      </ion-item>
      <h2 id="order-heading2" style="color:#222222;font-weight:300;text-align:center;">10 minutes</h2>
    </form>
    <button id="order-button10" class="button button-positive  button-block">Checkout 👌🏻</button>
  </ion-content>
</ion-view>